<p class="bottom">Cheers, Keep winning! <br>Fashion AI Team</p>
</div>
 <footer class="footer">
    <div class="flexDiv">
         <ul class="ul" >
                <li style="font-size: 16px;" class="li2">Get in touch</li>
         <li class="li1">
             <a class="li1a"  style="text-decoration: underline; font-size: 16px; opacity:.6;" href="tel:+2348100150290">Contact support</a>
         </li>
         <li class="li1">
             <a class="li1a" style="text-decoration: underline; font-size: 16px; opacity:.6;"  href="mailto:reachus@fashunai.com">Email us</a>
         </li>
    
        
         <li  class="address" style="font-size: 11px;">Aiivon innovation hub, wuse 2 adetokumbo ademola crescent.</li>
     </ul>
    
    </div>
  
 </footer>
</div>
   <p style="text-align: center; font-size: 11px;" >©Fashion AI All rights reserved.</p>
</body>
</html>